<!-- BEGIN sectionDownload -->
<div class="section">
  <div class="section__content container text-left">
      <a class="download" title="{#TemplateParameter.Titel#}" href="files/{#TemplateParameter.DownloadDatei#}" target="_blank">
          <div class="download__image">
              <i class="far fa-file" aria-hidden="true"></i>
          </div>
          <h3 class="download__title">
            {#TemplateParameter.Titel#}
          </h3>
          <div class="download__icon">
              <i class="  fa fa-arrow-down" aria-hidden="true"></i>
          </div>
      </a>
  </div>
</div>
<!-- END sectionDownload -->