<!-- BEGIN sectionPlaintext -->
<div class="section">
  <div class="section__content container">
    <div class="wp-block-wjd-group">
      <p>{#TemplateParameter.InhaltText#}</p>
    </div>
  </div>
</div>
<!-- END sectionPlaintext -->
