<!-- Aktuelles -->
<div class="headline-section">
    <div class="headline-section__content text-center container">
        <h2 class="headline-section__headline is-highlighted">{#TemplateParameter.Ueberschrift#}</h2>
    </div>
</div>
<div class="section">
    <div class="section__content container text-left">
        <div class="row news-events-row">
            <div class="col-md-12">
                [vereinonline_news(1)]
                    <div class="card can-contain-copyright v-card has-credit has-cta[vereinonline_if(foto)] has-image[vereinonline_endif]" data-url="?action=start_aktuelles&id=[vereinonline:id]">                    
                        [vereinonline_if(foto)]
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="news/[vereinonline:foto]" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit">&copy; </div>
                            </div>
                        [vereinonline_endif]
                        <div class="card__content">
                            <ul class="card__meta-data no-list-style">
                                <li class="card__meta-data-item is-date">[vereinonline:datum]</li>
                                <li class="card__meta-data-item is-text">[vereinonline:kategorie]</li>
                            </ul>
                            <div class="card__main">
                                <h3 class="card__headline">[vereinonline:subject]</h3>
                                <div class="rte-content v-margin-collapse search-for-copyright clamp-body"><!--p class="clamp-body"--><!-- begin body-->[vereinonline:body]<!-- end body--><!--/p--></div>
                            </div>
                            <div class="card__footer">
                                <a href="?action=start_aktuelles&id=[vereinonline:id]" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                    <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                [/vereinonline_news]
            </div>
            <div class="col-md-8 hide-first-from-col">
                [vereinonline_news(3)]
                    <div class="card can-contain-copyright v-card has-credit has-cta[vereinonline_if(foto)] has-image[vereinonline_endif]" data-url="?action=start_aktuelles&id=[vereinonline:id]">                    
                        [vereinonline_if(foto)]
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image">
                                            <img src="news/[vereinonline:foto]" alt="">
                                        </div>
                                    </div>
                                </figure>
                                <div class="card__image-credit">&copy; </div>
                            </div>
                        [vereinonline_endif]
                        <div class="card__content">
                            <ul class="card__meta-data no-list-style">
                                <li class="card__meta-data-item is-date">[vereinonline:datum]</li>
                                <li class="card__meta-data-item is-text">[vereinonline:kategorie]</li>
                            </ul>
                            <div class="card__main">
                                <h3 class="card__headline">[vereinonline:subject]</h3>
                                <div class="rte-content v-margin-collapse search-for-copyright clamp-body">[vereinonline:body]</div>
                            </div>
                            <div class="card__footer">
                                <a href="?action=start_aktuelles&id=[vereinonline:id]" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                    <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                [/vereinonline_news]
            </div>
            <div class="col-md-4">
                <div class="card v-card event-widget">
                    <div class="card__content">
                        <h3 class="card__headline">N&auml;chste Veranstaltungen</h3>
                        <div class="card__main">
                            [vereinonline_termine(1,,zukunft,3)]
                                <div class="event__item">
                                    <span class="is-date">[vereinonline:datum]</span>
                                    <h3>[vereinonline:titel]</h3>
                                    <a href="?veranstaltung=[vereinonline:idmandant]" ref="cta" class="card__cta is-link" target="_self">Mehr lesen
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                    {#IF:_LOGGEDIN#}
                                        <a onclick="javascript:OpenPopup('./?action=events_item&cmd=edit&id=[vereinonline:id]&dialog=1',1200,800,0);;return false;" href="https://vo.wjd.de/APPR/?action=events_item&cmd=edit&id=[vereinonline:id]&dialog=1" class="edit-link">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                        </a>
                                    {#/IF#}
                                </div>
                            [/vereinonline_termine]
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#IF:TemplateParameter.ButtonLink#}
        {#IF:TemplateParameter.ButtonBeschriftung#}
        <div class="text-center">
            <a class="button is-unbreakable is-tertiary-solid float-none" href="{#TemplateParameter.ButtonLink#}">
                <span class="button__text">{#TemplateParameter.ButtonBeschriftung#}</span>
            </a>
        </div>
        {#/IF#}
        {#/IF#}
    </div>
</div>