<div class="section">
    <div class="section__content container text-left">
        <div id="webform-submission-contact-form-ajax" class="webform-ajax-form-wrapper">
            <div class="js-webform is-centered rte-content">
                {#Webpart[kontaktmail({#TemplateParameter.Mail#})]#}
            </div>
        </div>
    </div>
</div>