{#IF:TemplateParameter.Ueberschrift#}
    <div class="headline-section">
        <div class="headline-section__content text-center container">
            <h2 class="headline-section__headline is-highlighted">{#TemplateParameter.Ueberschrift#}</h2>
        </div>
    </div>
{#/IF#}
<div class="section">
    <div class="section__content container text-left{#IF:TemplateParameter.BildHoehe#} set-image-height{#/IF#}" data-image-height="{#TemplateParameter.BildHoehe,0#}">
        <div class="row">
            {#TemplateElemente#}
                <div class="col-12 col-md-6">
                    <div class="card  v-card has-no-meta is-vertical{#IF:TemplateElement.BildAttribution#} has-credit{#/IF#}{#IF:TemplateElement.BildDatei#} has-image{#/IF#}{#IF:TemplateElement.Link#} has-link{#/IF#}" style="height: 100%;">
                        {#IF:TemplateElement.BildDatei#}
                            <div class="card__image-wrapper">
                                <figure class="figure">
                                    <div class="figure__image-wrapper is-highlighted">
                                        <div class="figure__image" style="height: {#Template.KartenHoeheBilder50,200#}px;">
                                            <img src="files/{#TemplateElement.BildDatei#}" alt="{#TemplateElement.BildBeschreibung#}" style="height: {#Template.KartenHoeheBilder50,200#}px;">
                                        </div>
                                    </div>
                                </figure>
                                {#IF:TemplateElement.BildAttribution#}
                                    <div class="card__image-credit" title="&copy; {#TemplateElement.BildAttribution#}">&copy; {#TemplateElement.BildAttribution#}</div>
                                {#/IF#}
                            </div>
                        {#/IF#}
                        <div class="card__content">
                            <div class="card__main">
                                <h3 class="card__headline">{#TemplateElement.Ueberschrift#}</h3>
                                <div class="rte-content v-margin-collapse">{#TemplateElement.InhaltText#}</p>
                                </div>
                            </div>
                            {#IF:TemplateElement.Link#}
                                <div class="card__footer">
                                    <a href="{#TemplateElement.Link#}" ref="cta" class="card__cta is-link" target="_self">{#TemplateElement.LinkTitel#}
                                        <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {#/IF#}
                        </div>
                    </div>
                </div>
            {#/TemplateElemente#}
        </div>
    </div>
</div>