<!-- BEGIN sectionKarte_Horizontal_Bild_Rechts.html -->
<div class="section is-regular">
  <div class="section__content container text-left">
    <div class="card is-regular has-no-meta is-mirrored has-credit has-cta has-image has-no-footer">
      <div class="card__image-wrapper order-1">
        <figure class="figure">
          <div class="figure__image-wrapper is-highlighted">
            <div class="figure__image">
              <img src="files/{#TemplateParameter.BildDatei#}" alt="{#TemplateParameter.BildBeschreibung#}">
            </div>
          </div>
        </figure>
        {#IF:TemplateParameter.BildAttribution#}
        <div class="card__image-credit" title="&copy; {#TemplateParameter.BildAttribution#}">&copy; {#TemplateParameter.BildAttribution#}</div>
        {#/IF#}
      </div>
      <div class="card__content">
        <div class="card__main">
          <div class="rte-content v-margin-collapse">
            <p>{#TemplateParameter.InhaltText#}</p>
          </div>
        </div>

        {#IF:TemplateParameter.Link#}
        <div class="card__footer">
          <a href="{#TemplateParameter.Link#}" ref="cta" class="card__cta is-link" target="">
            {#TemplateParameter.LinkTitel#}
            <i class="card__icon  fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
        {#/IF#}
      </div>
    </div>
  </div>
</div>
<!-- END sectionKarte_Horizontal_Bild_Rechts.html -->
