<!-- BEGIN sectionZitat -->
<blockquote class="quote quote has-image is-detail has-no-paragraphs">
  <div class="quote__image">
    <img src="files/{#TemplateParameter.BildDatei#}" alt="{#TemplateParameter.BildBeschreibung#}">
  </div>
  <div class="quote__inner">
    <div class="quote__body">
      <span class="cite-part">{#TemplateParameter.ZitatText#}</span>
    </div>
    <footer class="quote__footer">
      <p class="quote__name mh-gutter">{#TemplateParameter.Person#}</p>
      <p class="quote__title mh-gutter">{#TemplateParameter.Funktion#}</p>
    </footer>
  </div>
</blockquote>
<!-- END sectionZitat -->
