.button {
    background: none;
    background-color: $color-transparent !important;
    border-color: $accent !important;
    border-style: solid;
    border-width: .125rem;
    color: $accent !important;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    min-height: 24px !important;
    max-height: none !important;
    height: auto !important;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:focus,
    &:hover {
        min-height: 24px !important;
        max-height: none !important;
        height: auto !important;
    }
    + .button {
        margin-left: 1em;
    }
    &.float-none {
        float: none !important;
    }
    &.is-large {
        font-size: 1.25rem;
    }
    &.is-small {
        font-size: .8125rem;
    }
    &.is-tiny {
        font-size: .625rem;
    }
    &:not(.is-sharp) {
        border-radius: .25rem;
    }
    &.is-wide {
        padding: 1em 2em;
        .button__icon-before+ .button__text,
        .button__text+ .button__icon-after {
            margin-left: .8em;
        }
    }
    &.is-unbreakable {
        white-space: nowrap;
        .button__icon-before,
        .button__text,
        .button__icon,
        .button__icon-after {
            white-space: nowrap;
        }
    }
    .button__text,
    .button__icon-before,
    .button__icon-after {
        color: $accent !important;
    }
    i {
        color: $accent !important;
        &::before,
        &::after {
            color: $accent !important;
        }
    }
    &.admin-add-button {
        display: table !important;
        float: none !important;
        margin: 100px auto 50px !important;
        &:focus,
        &:hover {
            display: table !important;
            float: none !important;
            margin: 100px auto 50px !important;
        }
    }
    &:hover {
        background-color: $color-transparent !important;
        border-color: $accent-tertiary !important;
        border-width: .125rem !important;
        color: $accent-tertiary !important;
        display: inline-block !important;
        height: auto !important;
        text-decoration: none;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $accent-tertiary !important;
        }
        i {
            color: $accent-tertiary !important;
            &::before,
            &::after {
                color: $accent-tertiary !important;
            }
        }
    }
    &.is-inverted {
        background-color: $color-transparent !important;
        border-color: $color-light !important;
        color: $color-light !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $color-light !important;
        }
        i {
            color: $color-light !important;
            &::before,
            &::after {
                color: $color-light !important;
            }
        }
        &:hover {
            background-color: $color-transparent !important;
            border-color: $accent-tertiary !important;
            color: $accent-tertiary !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: $accent-tertiary !important;
            }
            i {
                color: $accent-tertiary !important;
                &::before,
                &::after {
                    color: $accent-tertiary !important;
                }
            }
        }
    }
    &.is-secondary {
        background-color: $color-transparent !important;
        border-color: $accent-secondary !important;
        color: $accent-secondary !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $accent-secondary !important;
        }
        i {
            color: $accent-secondary !important;
            &::before,
            &::after {
                color: $accent-secondary !important;
            }
        }
        &:hover {
            background-color: $color-transparent !important;
            border-color: $accent-tertiary !important;
            color: $accent-tertiary !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: $accent-tertiary !important;
            }
            i {
                color: $accent-tertiary !important;
                &::before,
                &::after {
                    color: $accent-tertiary !important;
                }
            }
        }
    }
    &.is-secondary-plain {
        background-color: $color-transparent !important;
        border-color: $accent-secondary !important;
        color: $accent-secondary !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $accent-secondary !important;
        }
        i {
            color: $accent-secondary !important;
            &::before,
            &::after {
                color: $accent-secondary !important;
            }
        }
        &:hover {
            background-color: $color-transparent !important;
            border-color: rgba(248, 161, 2, 0) !important;
            color: $accent-tertiary !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: $accent-tertiary !important;
            }
            i {
                color: $accent-tertiary !important;
                &::before,
                &::after {
                    color: $accent-tertiary !important;
                }
            }
        }
    }
    &.is-tertiary {
        background-color: $color-transparent !important;
        border-color: $accent-tertiary !important;
        color: $accent-tertiary !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $accent-tertiary !important;
        }
        i {
            color: $accent-tertiary !important;
            &::before,
            &::after {
                color: $accent-tertiary !important;
            }
        }
        &:hover {
            background-color: $color-transparent !important;
            border-color: $accent-secondary !important;
            color: $accent-secondary !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: $accent-secondary !important;
            }
            i {
                color: $accent-secondary !important;
                &::before,
                &::after {
                    color: $accent-secondary !important;
                }
            }
        }
    }
    &.is-tertiary-plain {
        background-color: $color-transparent !important;
        border-color: $accent-tertiary !important;
        color: $accent-tertiary !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $accent-tertiary !important;
        }
        i {
            color: $accent-tertiary !important;
            &::before,
            &::after {
                color: $accent-tertiary !important;
            }
        }
        &:hover {
            background-color: $color-transparent !important;
            border-color: rgba(248, 161, 2, 0) !important;
            color: $accent-secondary !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: $accent-secondary !important;
            }
            i {
                color: $accent-secondary !important;
                &::before,
                &::after {
                    color: $accent-secondary !important;
                }
            }
        }
    }
    &.is-solid {
        background-color: $inverted-background;
        border-color: $accent !important;
        color: $color-light !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $color-light !important;
        }
        i {
            color: $color-light !important;
            &::before,
            &::after {
                color: $color-light !important;
            }
        }
        &:hover {
            background-color: $accent-tertiary;
            border-color: $accent-tertiary !important;
            color: '' !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: '' !important;
            }
            i {
                color: '' !important;
                &::before,
                &::after {
                    color: '' !important;
                }
            }
        }
    }
    &.is-inverted-solid {
        background-color: $background;
        border-color: $color-light !important;
        color: $accent !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $accent !important;
        }
        i {
            color: $accent !important;
            &::before,
            &::after {
                color: $accent !important;
            }
        }
        &:hover {
            background-color: $accent-tertiary;
            border-color: $accent-tertiary !important;
            color: '' !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: '' !important;
            }
            i {
                color: '' !important;
                &::before,
                &::after {
                    color: '' !important;
                }
            }
        }
    }
    &.is-secondary-solid {
        background-color: $accent-secondary;
        border-color: $accent-secondary !important;
        color: $color-light !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $color-light !important;
        }
        i {
            color: $color-light !important;
            &::before,
            &::after {
                color: $color-light !important;
            }
        }
        &:hover {
            background-color: $accent-tertiary;
            border-color: $accent-tertiary !important;
            color: '' !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: '' !important;
            }
            i {
                color: '' !important;
                &::before,
                &::after {
                    color: '' !important;
                }
            }
        }
    }
    &.is-secondary-solid-inverted {
        background-color: $accent-secondary;
        border-color: $accent-secondary !important;
        color: $color-light !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $color-light !important;
        }
        i {
            color: $color-light !important;
            &::before,
            &::after {
                color: $color-light !important;
            }
        }
        &:hover {
            background-color: $accent-tertiary;
            border-color: $accent-tertiary !important;
            color: '' !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: '' !important;
            }
            i {
                color: '' !important;
                &::before,
                &::after {
                    color: '' !important;
                }
            }
        }
    }
    &.is-tertiary-solid {
        background-color: $accent-tertiary !important;
        border-color: $accent-tertiary !important;
        color: $color-light !important;
        .button__text,
        .button__icon-before,
        .button__icon-after {
            color: $color-light !important;
        }
        i {
            color: $color-light !important;
            &::before,
            &::after {
                color: $color-light !important;
            }
        }
        &:hover {
            background-color: $accent-secondary !important;
            border-color: $accent-secondary !important;
            color: '' !important;
            .button__text,
            .button__icon-before,
            .button__icon-after {
                color: '' !important;
            }
            i {
                color: '' !important;
                &::before,
                &::after {
                    color: '' !important;
                }
            }
        }
    }
    &.is-close {
        font-size: 1.2rem !important;
        height: 1.875rem;
        line-height: 1.8125rem;
        padding: 0;
        width: 1.875rem;
    }
}

.buttonline {
    @include clearfix();

    // margin: 0 auto;
    // max-width: 640px;

    width: 100%;
    max-width: none;
    margin: 0;

    .buttonitem {
        float: right;
        //&:nth-child(2) { reason for this unclear - removed for now 2021-05-21
        //    display: none;
        //}
        .button.buttondropdown {
            border: .125rem solid $accent !important;
        }
        .button.buttonstandard,
        .button.buttonicon {
            background-color: $accent-tertiary !important;
            background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48cGF0aCBkPSJNMjg1LjQ3NiAyNzIuOTcxTDkxLjEzMiA0NjcuMzE0Yy05LjM3MyA5LjM3My0yNC41NjkgOS4zNzMtMzMuOTQxIDBsLTIyLjY2Ny0yMi42NjdjLTkuMzU3LTkuMzU3LTkuMzc1LTI0LjUyMi0uMDQtMzMuOTAxTDE4OC41MDUgMjU2IDM0LjQ4NCAxMDEuMjU1Yy05LjMzNS05LjM3OS05LjMxNy0yNC41NDQuMDQtMzMuOTAxbDIyLjY2Ny0yMi42NjdjOS4zNzMtOS4zNzMgMjQuNTY5LTkuMzczIDMzLjk0MSAwTDI4NS40NzUgMjM5LjAzYzkuMzczIDkuMzcyIDkuMzczIDI0LjU2OC4wMDEgMzMuOTQxeiIvPjwvc3ZnPg==')!important;
            background-position: right 1.2rem center;
            background-repeat: no-repeat;
            background-size: .6em;
            border: 2px solid $accent-tertiary !important;
            padding-right: 2.4em;
            transition: all .3s;
            a {
                color: $color-light !important;
            }
            &:focus,
            &:hover {
                background-color: $accent-secondary !important;
                border: 2px solid $accent-secondary!important;
            }
        }
    }
}
