body.fe form {
    font-size: 1.125rem;
    margin: 0 auto;
    max-width: 640px;
    .buttonicon {
        font-size: 19px;
        img {
            display: none;
        }
        a {
            font-size: 16px;
            font-weight: bold;
        }
    }
    textarea,
    input.input,
    input[type='text'],
    input[type='tel'],
    input[type='number'],
    input[type='email'] {
        background: $color-light;
        border: 1px solid $color-darkgrey;
        border-radius: 0;
        display: block;
        font-size: 18px;
        line-height: 31px;
        min-height: 51px;
        padding: 10px !important;
        width: 100%;
        &:focus,
        &:active,
        &.active {
            border: 1px solid $accent-secondary !important;
            box-shadow: 0 0 0 1px $accent-secondary;
        }
    }
    textarea {
        height: 125px;
    }
    .fieldgroup {
        position: relative;
        .fieldlabel {
            bottom: 15px;
            color: $form-gray-2;
            font-size: 1.125rem;
            padding: 0;
            position: absolute;
            width: auto;
            &::after {
                background-color: $color-light;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 2px;
            }
        }
        .fieldcontrol {
            margin-bottom: 40px;
            padding: 0;
            width: 640px;
            max-width: 100%;
            textarea,
            input[type='text'] {
                background: $color-light;
                border: 1px solid $color-darkgrey;
                border-radius: 0;
                display: block;
                font-size: 18px;
                line-height: 31px;
                min-height: 51px;
                padding: 10px !important;
                width: 100%;
                &:focus,
                &:active,
                &.active {
                    border: 1px solid $accent-secondary !important;
                    box-shadow: 0 0 0 1px $accent-secondary;
                }
            }
            textarea {
                height: 125px;
            }
            .captcha {
                color: $color-dark;
                font-size: 18px;
                line-height: 25px;
            }
        }
        &.rowdatenschutz {
            margin-top: 20px;
            .fieldcontrol {
                color: $color-dark;
                font-size: 18px;
                line-height: 25px;
                a {
                    font-family: $font-main;
                    u {
                        color: $accent-tertiary;
                        font-family: $font-main;
                        text-decoration: none;
                        transition: color .3s;
                        &:focus,
                        &:hover {
                            color: $accent-secondary;
                        }
                    }
                }
            }
        }
    }
}
