.hero {
    margin-bottom: 6rem;
    position: relative;
    .swiper-container {
        overflow-y: visible;

    }
    .swiper-slide {
        overflow: hidden;     
        max-height: 810px !important;
        height: 80vh !important;
        @media (max-width: 1440px) {
            max-height: 610px !important;
        }
        @media (max-width: $break-lg) {
            max-height: 510px !important;
        }
        @media (max-width: $break-md) {
            height: 44vw !important;
        }
    }
    img {
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .hero-swiper.oben {
        img {
            top: 0;
        }
    }
    .hero-swiper.unten {
        img {
            top: auto;
            bottom: 0;
        }
    }
    .hero-swiper.mitte {
        img {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
@media (max-width: 768px) {
    .hero {
        margin-bottom: 0;
    }
}
.hero__box {
    align-items: center;
    background-color: $inverted-background;
    bottom: -2rem;
    color: $color-light;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: 2rem 2rem;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
@media (min-width: 0) {
    .hero__box {
        width: 60%;
    }
}
@media (min-width: 1440px) {
    .hero__box {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .hero__box {
        bottom: 0;
        left: 0;
        position: relative;
        top: -.625rem;
        -webkit-transform: none;
        transform: none;
        width: 100%;
    }
}
.hero__headline:first-child:last-child,
.hero__subheadline:first-child:last-child,
.hero__pagination:first-child:last-child {
    margin: 0;
}
.hero__headline> *:first-child,
.hero__subheadline> *:first-child {
    margin-top: 0;
}
.hero__headline> *:last-child,
.hero__subheadline> *:last-child {
    margin-bottom: 0;
}
.hero__headline {
    margin: 0;
    margin-top: .6em;
    order: 2;
    text-transform: uppercase;
}
@media (min-width: 0) {
    .hero__headline {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .hero__headline {
        font-size: 2.5rem;
    }
}
@media (min-width: 1440px) {
    .hero__headline {
        font-size: 3.75rem;
    }
}
h3.hero__subheadline {
    font-weight: bold;
    margin: 0;
    order: 1;
    padding-bottom: 0;
}
@media (min-width: 0) {
    .hero__subheadline {
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .hero__subheadline {
        font-size: 1.375rem;
    }
}
@media (min-width: 1440px) {
    .hero__subheadline {
        font-size: 2rem;
    }
}
.hero__pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 2rem;
    order: 3;
}
.hero__pagination-item {
    background-color: $faint-light;
    border-radius: 0;
    min-height: 1rem;
    min-width: 1rem;
    opacity: 1;
    &.is-active,
    &.swiper-pagination-bullet-active {
        background-color: $accent-tertiary;
    }
    + .hero__pagination-item {
        margin-left: 1rem;
    }
}
@media (max-width: 1439px) {
    .hero__pagination-item {
        min-height: .6rem;
        min-width: .6rem;
        + .hero__pagination-item {
            margin-left: .6rem;
        }
    }
}
